<div class="p-grid">
  <div class="p-col-12 p-md-12 p-lg-12">
    <p-card [style]="customTemperatureCardStyle">
      {{this.currentTemperature}} °C
    </p-card>
  </div>

  <div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-fluid">
      <div class="p-field p-grid">
        <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">High Threshold</label>
        <div class="p-col-12 p-md-10">
          <input #highThreshold id="firstname" type="text" pInputText [(ngModel)]="thresholds.highThreshold"
                 (keyup.enter)="sendThresholds(highThreshold.value, lowThreshold.value)">
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Low Threshold</label>
        <div class="p-col-12 p-md-10">
          <input #lowThreshold id="lastname" type="text" pInputText [(ngModel)]="thresholds.lowThreshold"
                 (keyup.enter)="sendThresholds(highThreshold.value, lowThreshold.value)">
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-md-6 p-lg-6">
    <p-toggleButton [(ngModel)]="silentMode" [disabled]="true" onLabel="Silent Mode" offLabel="Normal Mode"
                    onIcon="pi pi-moon" offIcon="pi pi-sun" [style]="{'width': '100%'}"
                    pTooltip="If between 23:00 and 8:00, Silent Mode activates" tooltipPosition="bottom"></p-toggleButton>
  </div>
  <div class="p-col-12 p-md-6 p-lg-6">
    <button pButton pRipple type="button" label="Boost" (click)="callBoost()"
            pTooltip="Boost the fan for 5 minutes" tooltipPosition="bottom"></button>
  </div>
</div>
